{% extends "base.html" %}
{% block content %}

<div class="grid grid-cols-2">
    <form class="px-8 p-5 col-span-1" id="add_material" method="post" action="{% url 'add_post' course_id %}"
            enctype="multipart/form-data">
        <h1 class="text-3xl font-bold text-gray-800 pb-6">Add Teaching Material</h1>
        {% csrf_token %}

        <div class="mb-4">


            <div class="my-4">
            <label class="block text-gray-800 text-sm font-bold mb-3" for="title">Title:</label>
            {{ form.title }}
            </div>
            <hr>

            <div class="my-4">
            <label class="block text-gray-800 text-sm font-bold mb-3" for="content">Content:</label>
            {{ form.content }}
            </div>

            <div class="my-4">
                <label class="block text-gray-800 text-sm font-bold mb-3" for="file">File Upload:</label>
                {{ form.file }}
                </div>
                
            <div class="my-4">
                <label class="block text-gray-800 text-sm font-bold mb-3" for="deadline">Deadline:</label>
                {{ form.deadline }}
            </div>

            <div class="flex items-center justify-between">
                <button class="bg-blue-600 hover:bg-blue-800 text-white font-bold py-4 px-6 rounded focus:shadow-outline" type="submit">Submit Materials</button>
            </div>


    </form>
    </div>
{% endblock %}