{% extends "base.html" %}
{% block content %}
<div class="container mx-auto mt-12">
    <div id="course-details" class="max-w-lg mx-auto overflow-hidden">
        
    </div>
    
    {% if not user.profile.is_teacher and user.is_authenticated %}
            <div class="flex justify-center mt-4">
                <button id="enroll-button" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Enroll</button>
            </div>
    {% endif %}
</div>
<div class="container mx-auto mt-12">
    <h2 class="text-xl font-bold mb-4">Feedbacks</h2>
    <div class="grid grid-cols-3 gap-4">
        <!-- retrieved feedbacks go here -->
    </div>
</div>

<script>
    //retrieves the course details from API
    fetch('/api/courses/{{ course_id }}/')
        .then(response => response.json())
        .then(data => {
            const courseDetails = document.getElementById('course-details');
            courseDetails.innerHTML = `
                <div class="px-6 py-4 text-center">
                    <h2 class="text-3xl font-bold text-gray-800 pb-6 flex justify-center">${data.title}</h2>
                    <p class="text-gray-700 text-base mb-4">${data.description}</p>
                    <p class="text-gray-700 text-base">Teacher: ${data.teacher.first_name} ${data.teacher.last_name}</p>
                </div>
            `;
        })
        .catch(error => console.error('Error fetching course data:', error));
    
    const enrollButton = document.getElementById('enroll-button');
    //handles the enrolment
    if (enrollButton) {
        enrollButton.addEventListener('click', () => {
            fetch('/api/enroll/{{ course_id }}/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },

            })
            .then(response => response.json())
            .then(data => {
                if (data.message) {
                    alert(data.message);
                    enrollButton.style.display = 'none';
                } else {
                    throw new Error('Failed to enroll in the course. Please try again later.');
                }
            })
            .catch(error => {
                console.error('Error enrolling in the course:', error);
                alert(error.message || 'An error occurred while enrolling in the course. Please try again later.');
            });
        });
    };

    //retrieves the course's feedback
    fetch('/api/feedback/{{ course_id }}/')
        .then(response => response.json())
        .then(feedbacks => {
            const feedbackContainer = document.querySelector('.grid');
            feedbacks.forEach(feedback => {
                const card = document.createElement('div');
                card.classList.add('bg-white', 'rounded-lg', 'shadow-md', 'p-4');

                const content = document.createElement('p');
                content.textContent = feedback.content;

                card.appendChild(content);
                feedbackContainer.appendChild(card);
            });
        })
        .catch(error => console.error('Error fetching feedbacks:', error));
</script>
{% endblock %}